    <!--Services section desing-->
    <section class="services" id="services">
        <h2 data-aos="fade-down" data-aos-duration="1000" class="heading">{{mainTitlePart1}} <span>{{mainTitlePart2}}</span></h2>

        <div class="services-container">
            <div data-aos="zoom-in-right" data-aos-duration="1000" class="services-box">
                <i class="bx bx-code-alt"></i>
                <h3>{{box1TitleH3}}</h3>
                <p>{{box1shortDescription}}</p>
                <a href="#about" class="btn">{{readMore}}</a>
            </div>
            <div data-aos="zoom-in-right" data-aos-duration="1000" class="services-box">
                <i class='bx bxs-devices'></i>
                <h3>{{box2TitleH3}}</h3>
                <p>{{box2shortDescription}}</p>
                <a href="#about" class="btn">{{readMore}}</a>
            </div>
        </div>

    </section>