    <!--Portafolio section design-->
    <section class="portafolio" id="portafolio">
        <h2  data-aos="fade-down" data-aos-duration="1000" class="heading">{{headingPartA}} <span>{{headingPartB}}</span></h2>

        <div class="portafolio-container">
            <div data-aos="flip-left" data-aos-duration="1000"  class="portafolio-box">
                <img src="./assets/img/portafolio1.jpg" alt="">
                <!-- <div class="img-portafolio"></div> -->
                <div class="protafolio-layer">
                    <h4>{{box1TitleH4}}</h4>
                    <p>{{box1ShortDescription}}</p>
                    <a href="./assets/files/app.pdf"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
            <div data-aos="flip-left" data-aos-duration="1000" class="portafolio-box">
                <img src="./assets/img/protafolio2.jpg" alt="">
                <!-- <div class="img-portafolio"></div> -->
                <div class="protafolio-layer">
                    <h4>{{box2TitleH4}}</h4>
                    <p>{{box2ShortDescription}}</p>
                    <a href="./assets/files/SaleSystempdf.pdf"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
            <div data-aos="flip-left" data-aos-duration="1000" class="portafolio-box">
                <img src="./assets/img/protafolio3.jpg" alt="">
                <!-- <div class="img-portafolio"></div> -->
                <div class="protafolio-layer">
                    <h4>{{box3TitleH4}}</h4>
                    <p>{{box3ShortDescription}}</p>
                    <a href="./assets/files/specialCRUDpdf.pdf"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
        </div>

    </section>